
@mixin container($container-bg: $bg-container, $container-width: 800px, $position: 'left', $container-height: auto) {
  .my-container {
    @if ($position == 'center') {
      margin: 0 auto;
    }
    text-align: center;
    background-color: $container-bg;
    width: $container-width;
    max-width: $container-width;
    @if ($container-height == 'fullscreen') {
      min-height: 100vh;
    }
    @else if ($container-height == auto){
      height: auto;
    }
    @else {
      min-height: $container-height;
    }
  }
}

@mixin block-banners {
  .my-container {
    .block-banners {
      display: inline-block;
      padding: 65px 0;
      min-height: calc(100% - 130px);
      @include block;
    }
  }
}

@mixin block {
  .block {
    width: 537px;
    height: 165px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    &:nth-child(1), &:nth-child(2) {
      background-image: url('./images/button_bg-1.png');
    }
    &:nth-child(3), &:nth-child(4) {
      background-image: url('./images/button_bg-3.png');
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
